<div
  dir="rtl"
  class="min-h-screen flex items-center justify-center bg-gray-100"
>
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">
      إنشاء حساب جديد
    </h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">
          البريد الإلكتروني
        </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (email?.touched && email?.invalid) { @if
        (email?.errors?.['required']) {
        <div class="text-red-500 text-sm mt-1">ادخل الإيميل</div>
        } @else if (email?.errors?.['email']) {
        <div class="text-red-500 text-sm mt-1">الإيميل غير صحيح</div>
        } }
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">
          كلمة المرور
        </label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (password?.touched && password?.invalid) { @if
        (password?.errors?.['required']) {
        <div class="text-red-500 text-sm mt-1">ادخل كلمة المرور</div>
        } } @if (message()) {
        <h2 class="text-center font-bold text-red-600">{{ message() }}</h2>
        }
      </div>

      <button
        type="submit"
        class="w-full py-2 px-4 bg-green-600 text-white rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500"
      >
        تسجيل حساب
      </button>

      <div class="text-center mt-4 font-bold">
        <a routerLink="/login" class="text-blue-600">تسجيل دخول</a>
      </div>
    </form>
  </div>
</div>
