<header
  dir="rtl"
  class="bg-gray-950 text-white fixed top-0 w-full z-10 shadow-md"
>
  <nav
    class="container mx-auto px-4 py-3 flex flex-wrap items-center justify-between"
  >
    <!-- Logo/Title Section -->
    <a class="flex items-center space-x-3 space-x-reverse">
      <span class="self-center text-2xl font-bold whitespace-nowrap text-white">
        Dashboard</span
      >
    </a>

    <!-- Menu Toggle for Mobile and Logout Button -->
    <div class="flex md:order-2 gap-2">
      <!-- Mobile Menu Toggle Button -->
      <button
        (click)="toggleMenu()"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-300 rounded-lg md:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600"
        aria-controls="navbar-menu"
        [attr.aria-expanded]="isMenuOpen"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>

      <!-- Logout Button -->
      <button
        (click)="logout()"
        class="block py-2 px-3 text-white bg-red-500 hover:bg-red-600 rounded-lg md:bg-transparent md:hover:bg-transparent md:hover:text-red-500 transition"
      >
        تسجيل الخروج
      </button>
    </div>

    <!-- Navigation Links -->
    <div
      class="items-center justify-between w-full md:flex md:w-auto md:order-1"
      [ngClass]="{ hidden: !isMenuOpen, block: isMenuOpen }"
      id="navbar-menu"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 md:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            [routerLink]="['/owner/category']"
            routerLinkActive="!text-blue-500"
            class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 hover:text-blue-500 md:hover:bg-transparent md:p-0 transition"
          >
            الأقسام
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/owner/orders']"
            routerLinkActive="!text-blue-500"
            class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 hover:text-blue-500 md:hover:bg-transparent md:p-0 transition"
          >
            الطلبات
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/owner/assistance']"
            routerLinkActive="!text-blue-500"
            class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 hover:text-blue-500 md:hover:bg-transparent md:p-0 transition"
          >
            المساعدات
          </a>
        </li>
        <li>
          <button
            (click)="openPointSettingsModal()"
            class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 hover:text-blue-500 md:hover:bg-transparent md:p-0 transition"
          >
            إعدادات النقاط
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>

@if (showPointSettingsModal) {
<app-point-settings-modal
  (close)="closePointSettingsModal()"
></app-point-settings-modal>
}
